.App {
  text-align: center;
  font-family: 'Domine', sans-serif;
  color: white;
  overflow: hidden;
}
.n {
  margin-left: 78%;
}
.bodysection {
  height: 100vh;
  width: 100vw;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
}
.a {
  background-image: url(./images/bench.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  @media (max-width: @iphone-screen) {
    background-attachment: scroll;
    background-size: contain;
  }
}
.b {
  background-image: url(./images/traveler.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  text-align: right;
}
.c {
  background-image: url(./images/deskclose.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.d {
  background-image: url(./images/desk1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.big {
  color: white;
  font-family: 'Caveat', cursive;
  font-size: 7vh;
  font-weight: bold;
  margin-right: 82.75%;
  padding-top: 3%;
}
.medium {
  color: white;
  font-size: 3.5vh;
  margin-right: 83.75%;
}
.p1 {
  font-size: 6vh;
  color: black;
  text-align: left;
  margin-top: 8vh;
  margin-left: 43vw;
}
.l1 {
  padding-top: 5vh;
  width: 20%;
}
.tint {
  background-color: rgba(236, 233, 233, 0.473);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.btext {
  margin: auto;
  padding: 5%;
  width: 35%;
  margin-left: 65%;
  margin-right: 1% !important;
}
.p2 {
  color: white;
  font-size: 55px;
  text-align: right;
}
.tech {
  color: white;
  font-size: 5vh;
  margin-right: 75%;
  padding-top: 6%;
}
.iconbox {
  width: 40%;
  margin: auto;
  padding: 5%;
}
.icons {
  display: flex;
  padding: 9%;
}
.icon {
  margin: auto;
  font-size: 6vh;
}
.icon:hover {
  color: cyan;
}
.greybox {
  height: 100vh;
  background-color: rgba(170, 170, 170, 0.856);
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 50vw;
  background-size: cover;
  background-repeat: no-repeat;
}
.subbox {
  border: 2px solid white;
  height: 300px;
  width: 400px;
  margin: auto;
  background-size: cover;
  padding: 1%;
}
.greybox :hover {
  background-image: url(./images/leaves.jpg);
  font-weight: bold;
}
.subbox :hover {
  background-image: none;
}
.ghub {
  font-family: "Nothing You Could Do", cursive;
  color: white;
  padding: 5%;
  padding-top: 13%;
  font-size: 46px;
}
.ghub:hover {
  font-weight: 800;
}
.gh {
  font-size: 50px;
  padding-top: 1%;
  margin-bottom: 1% !important;
  color: white;
}
.gitlink, .gh, .ghub, .subbox, .greybox :hover {
  text-decoration: none;
}
.viewproj {
  color: white !important;
  background-color: transparent;
  border: 2px solid white !important;
  margin-top: 5%;
  margin-bottom: 1% !important;
  font-size: 18px !important;
}
.viewproj:hover {
  background-color: white;
  color: black !important;
  border: 2px solid #2b2b2b;
}
.contact-middle {
  color: black;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.959);
  padding: 5%;
  height: auto;
  width: 50%;
  text-align: center;
}
.contact {
  color: black;
  margin: auto;
  padding-top: 1vh;
  background-color: rgba(255, 255, 255, 0.959);
  text-align: left;
  padding-left: 20%;
  padding-right: 20%;
}
#business {
  margin-left: 2vw;
}
#church {
  margin-left: 2.88vw;
}
#other {
  margin-left: 3.86vw;
}
#explanation {
  height: 15vh;
}
.contactpage {
  background-image: url(./images/brickwall.jpg);
  height: auto;
  padding: 5%;
}
.form-label {
  text-align: left;
  margin-left: 1%;
}
.projectspage {
  overflow: hidden;
}
.projectsa {
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(./images/trees.jpg);
  padding: 5%;
  padding-top: 5%;
}
.projectstitle {
  font-size: 60px;
  padding-top: 3.5%;
}
.projectsboxcontainer {
  width: 100%;
  padding: 3%;
  margin: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-items: center;

}
.projectsbox {
  width: 300px;
  height: 300px;
  background-color: #2b2b2b;
}
.projectsbox:hover {
  width: 305px;
  height: 305px;
}
.proj1 {
  background-image: url(./images/kenlogowht.png);
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}
.proj2 {
  background-image: url(./images/logo.png);
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}
.proj3 {
  font-size: 40px;
  padding: 5%;
}


